input{ background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5G5D2dfLKFiJU2HgqdEyTP60oYS9WrNHUG3l0OIf9W2C8oIIW);
background-repeat: no-repeat;
background-size: 35px;
background-position: right;

}

body{background-color: darkkhaki;

}