/*formato a las imagenes*/
img{

height: auto;
/*margen de la imagen*/
width:300px;
margin: auto;
display: block;

border-radius: 50%;
}
/*fondo*/
div{
background: rgb(98, 105, 107);
 width: 100%;
 

 
}

