*{
    margin: 0;
    padding: 0;
}


header{
    background-image: url(../imagenes/movil.jpg);
} 


/*color del menu cuando paso el maus*/
header ul a:hover{background-color: rgb(12, 131, 243);
    border-radius: 50px;
    padding: 7px;
    height: 100%;
    color: black;}
     



/*cuerpo de pagina*/

 body{background-color: rgb(209, 205, 200);}
 /*formulario*/

 form div{
     border: black;
    border-block:black ;}



    /*imagen */
    .container{width: 100px;
        max-width: 1000px;
margin: auto;
padding: 60px;
margin-top: 50px;}


/*formato del aside*/
section aside  nav a {
    font-size:13px ;}


 /*forna del foder*/
 footer{
    float: 100%;
background-image: url(../imagenes/movil.jpg);
color: rgb(22, 22, 20);
text-align:center ;
padding:7px ;
height:100% ;  