{ 
background-image: url(https://us.123rf.com/450wm/djvstock/djvstock1612/djvstock161214369/67892203-dise%C3%B1o-gr%C3%A1fico-aislado-del-ejemplo-del-vector-del-icono-de-la-lupa.jpg?ver=6);
background-repeat: no-repeat;
background-size: 40px;
background-position: right;
}