  /*index*/
  *{margin: 0px; padding: 0px;}
/* imagen*/
 header{
     

    background-image: url(../imagenes/movil.jpg);
    background: cover;
    background-repeat: no-repeat;
    background-size: 100%auto;
}
/*fondo del formulario*/
form{.... }



header{ width: 100%;
overflow: hidden;
background-color: rgb(12, 12, 12);
margin-bottom: 20px;
}

 header .logo{ color: blanchedalmond;
     font-size: 50px;
     line-height: 200px;
     float: left;}

     header nav{  float: right;
line-height:200px ;}

header nav a{  display: inline-block;
    color: blanchedalmond;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 20px;}

//*botones cuando paso el maus*/
    header ul a:hover{background-color: chocolate;
border-radius: 50px;}


 


 }
/*forna del foder*/
 footer{
    float: 100%;
background-image: url(../imagenes/movil.jpg);
color: rgb(22, 22, 20);
text-align:center ;
padding:7px ;
height:100% ;

