*{
    margin: 0xp;
    padding: 0px;

}

body{
    background: rgba(96, 107, 96, 0.342);
    background-image: url(../imagenes/movil.jpg);
/*estilos del footer*/
}
header,.main,footer{
background: honeydew;
width: 90%;
max-width: 1000px;
margin: 20px;

}

header ul{
 background: rgb(239, 239, 247);
overflow: hidden;
}

header  ul{
    list-style: none;
}

}

header nav ul li a{
padding: 10px 20px;
display: block;
color: linen;
text-decoration:none ;

}

header nav ul li a:hover{
background: rgb(25, 86, 90);
}

.main .articles{
width: 76.5%;
float: left;
background: rgba(246, 246, 241, 0.856);
margin-right:1.5% ;
}
 /*posicion del footer*/
footer{
    float: left;
background: black;
color: blanchedalmond;
text-align:center ;
padding:7px ;}
   

aside{
width: 22%;
float: left;
background: rgb(206, 145, 15);
color: cornsilk;
}


/*el pading y el margen de las clases main y articles */
.main .articles article{
padding: 20px;
background: darkgray;
margin-bottom: 20px;

}

/*botones cuando paso el maus*/
header ul a:hover{background-color: rgb(12, 131, 243);
    border-radius: 50px;}