header{
    margin-top:10px ;
    padding: 10px;
}

/*video*/
video {
    width: 60%;
    height:20px%;
position: :center; 
padding:20px ;
padding top:20px ;

margin-top:10px ;
}

    


    /*botones cuando paso el maus*/
    header ul a:hover{background-color: rgb(30, 123, 210);
        border-radius: 50px;}